body{
    background-color: #EAF6F6;
}
img{
    width:175px;
    height:175px;
}
hr{
    border-style: dotted none none;
    border-color: #DDDDDD;
    border-width:7px;
    width:10%;
    
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}